<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logout Confirmation</title>
    <link rel="stylesheet" type="text/css" href="../static/css/LogoutStyles.css">

</head>
<body>
    <div class="modal">
        <div class="modal-content">
            <h3>Are you sure you want to logout?</h3>
            <button id="confirm-logout">Yes, Logout</button>
            <button id="cancel-logout">Cancel</button>
        </div>
    </div>

    <script src="../static/js/LogoutScripts.js"></script>
</body>
</html>